<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='about.css') }}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Unbounded:wght@200..900&display=swap" rel="stylesheet">
    <title>About Us</title>
</head>
<body>
    <div id = "main">


        <!-- NAV-BAR -->       
        <div id="nav-bar">
            <img src = "static/Logo2.png">
            <h4 id = "quanta">QUANTA AI</h4>
            <a href = "/">HOME</a>
            <a href = "/about">ABOUT</a> 
            <a href = "/contact">CONTACT</a>
        </div>

        <div id = "title">About Us</div>

        <div id="container">
            <section>
                <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Qui, voluptatum numquam laudantium odio
                    asperiores culpa dolores dolorem ratione mollitia expedita aliquam quae! Eos vero distinctio eaque
                    similique veniam veritatis minus accusamus tempore neque sunt? Ad, in mollitia quae culpa inventore
                    reiciendis voluptas odio totam modi quas sint est earum eaque enim eos vel illo excepturi nam doloremque tempora
                    necessitatibus aspernatur! Quasi temporibus omnis eligendi ut deleniti recusandae labore quidem dolorem a iure, nesciunt
                    perferendis odio voluptatem modi assumenda fugit asperiores rem? Earum voluptatem accusantium ipsam tenetur aliquid doloremque 
                    maiores aliquam quo laborum officiis ipsum dicta, vel, possimus nam suscipit itaque asperiores minus recusandae error soluta 
                    sunt. Quae, optio fugiat quis ipsum debitis ut enim molestias accusamus mollitia esse laudantium impedit unde voluptatum voluptatem 
                    voluptate, in praesentium quos, quam eum? Earum reiciendis ab enim voluptas illum vero atque quos, non nihil quasi repellat nobis, nam 
                    ex quaerat, sequi ipsam sunt iusto quidem maiores culpa molestiae. Quos architecto nulla, iusto eaque aspernatur necessitatibus eos reiciendis,
                    consequatur incidunt explicabo nam excepturi inventore dicta harum rerum? Facere, vel reprehenderit. Voluptates ratione qui sed sunt deserunt illo
                    delectus quis, eius suscipit repellendus harum dolor ipsum accusantium alias doloribus! Accusantium architecto iste sunt culpa dolorem animi id molestias?
                    Earum unde voluptate porro magnam omnis! Blanditiis laudantium eveniet facere modi optio sapiente, itaque qui aut, cumque quia odio. Similique unde
                    asperiores eligendi fugit. Officiis laborum molestias nesciunt laboriosam? Numquam doloribus velit saepe iusto voluptates, eum, quia aliquid
                    laboriosam voluptatum accusantium in cumque sunt nostrum fugiat aspernatur labore pariatur iste aliquam laborum alias beatae reiciendis rem voluptas
                    rovident. Ea veritatis error nobis delectus temporibus, ratione magni ipsa. Aperiam ipsum rerum amet esse tempora minus debitis beatae voluptatibus vitae?
                    Exercitationem similique aliquam libero magni aut temporibus reprehenderit sed impedit. Voluptates vitae optio, soluta sunt provident inventore nulla repudiandae fugit?</p>
            </section>
        </div>
    </div>
</body>
</html>