<!<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='dev.css') }}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Unbounded:wght@200..900&display=swap" rel="stylesheet">
    <title>Domain Details</title>
</head>
<body>
    <div id="main">

        <div id = "container">
            <div id="table-container">
                <div id = "table-title">
                    <p>DOMAIN DETAILS</p>
                </div>
                <table>
                    <tbody>
                        <tr>
                            <td>Domain</td>
                            <td>TEXT</td>
                        </tr>
                        <tr>
                            <td>IP</td>
                            <td>TEXT</td>

                        </tr>
                        <tr>
                            <td>Domain-Age</td>
                            <td>TEXT</td>
                        </tr>
                        <tr>
                            <td>Number of Sub Domains</td>
                            <td>TEXT</td>

                        </tr>
                        <tr>
                            <td>Domain registration length</td>
                            <td>TEXT</td>
                        <tr>
                            <td>IP Counts</td>
                            <td>TEXT</td>
                        </tr>
                        <tr>
                            <td>SSL Update Age</td>
                            <td>TEXT</td> 
                        </tr>
                        <tr>
                            <td>Number of SMTP Servers
                            </td>
                            <td>TEXT</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <button type = "Back", id = "back-button", href = "home.html">⬅ Back</button>
    
    </div>
</div>
        </div>

</body>
</html> 