<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='home.css') }}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Unbounded:wght@200..900&display=swap" rel="stylesheet">
    <title>Quanta AI</title>
</head>
<body>
    <div id="main">
        
<!-- NAV-BAR -->       
        <div id="nav-bar">
            <img src = "static/Logo2.png">
            <h4 id = "quanta">QUANTA AI</h4>
            <a href = "/">HOME</a>
            <a href = "/about">ABOUT</a> 
            <a href = "/contact">CONTACT</a>
        </div>

        <!-- CONTAINER -->
        <div id = "container">

            <!-- INPUT CONTAINER -->
            <form action = "/check_phishing" method = "post">
                <div id="input-container">
                    <label for="user-input" id="custom-label">Your URL here</label>
                    <input type="text" id="user-input" class="styled-input" name='url' placeholder="https://example.com">
                    <button type = "submit", id = "form-button">Submit</button>
                </div>
            </form>

            <!-- TABLE-CONTAINER -->
                <div id="table-container">
                    <table>
                        <thead>
                            <tr>
                                <th>‼️ ⚠️ Recent Malicious Websites ⚠️ ‼️</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>https://example1.com</td>
                            </tr>
                            <tr>
                                <td>https://example1.com</td>
                            </tr>
                            <tr>
                                <td>https://example1.com</td>
                            </tr>
                            <tr>
                                <td>https://example1.com</td>
                            </tr>
                            <tr>
                                <td>https://example1.com</td>
                            </tr>
                            <tr>
                                <td>https://example1.com</td>
                            </tr>
                            <tr>
                                <td>https://example1.com</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
        </div>

</body>
</html> 

